{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lieu list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lieu in lieus %}
            <tr>
                <td><a href="{{ path('lieu_show', { 'id': lieu.id }) }}">{{ lieu.id }}</a></td>
                <td>{{ lieu.libelle }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('lieu_show', { 'id': lieu.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('lieu_edit', { 'id': lieu.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lieu_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
